.about{
	text-align: center;
    margin: 1rem 2rem;
	li{
		display: inline-block;
		margin: 1rem 2rem;
		p{
			font-size: 2.5rem;
		}
	}
}
.intrdc{
	width: 20rem;
	margin: 0 auto;
	padding: 1rem;
	box-shadow: 1px 1px 5px #bd8cdc;
	transition: 1s;
	li{
		position: relative;
		margin-bottom: .5rem;
		padding-bottom: .2rem;
		border-bottom:1px dashed #d2c0dc;
		&:before{
			position: absolute;
			top: .8em;
			left: -1.4rem;
			content: '';
		    border-radius: 50%;
			border: solid 6px;
			border-color: #D4D4D4 #D4D4D4 #d2c0dc #d2c0dc;	
		}
	}
}
.intrdc:hover{
	box-shadow: 8px 8px 32px #bd8cdc;
}