.section{
	margin: 0 auto;
	.work{
		width: 25%;
		height: 50vh;
		@media screen and (max-width: 768px){
			width: 100% !important;
			height: 44.5vh;
		}
		float: left;
		&_list{
			width: 80%;
			height: 80%;
			margin: 10px auto;
			padding: 10px;
			text-align: center;
			box-shadow: 1px 1px 5px #bd8cdc;
			transition: 1s;
			.h2{
				line-height: 3rem;
				border-bottom:1px solid #ccc;
			}
			p{
				text-align: left;
				line-height: 1.5rem;
			}
		}
	}
	.work1{
		@media screen and (max-width: 768px){
			display: none;
		}
	}
	.workWidth{
		width: 50%;
	}
	.companyWidth{
		width: 33%;
		.date{
			font-size: 1rem;
		}
	}
}
.work:hover .work_list{
	box-shadow: 8px 8px 32px #bd8cdc;
}
