.section {
  background-color: #ececec;
}

.lang-panel {
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 5px;
  z-index: 100;
  font-size: 10px;
}
.lang-panel .lang {
  display: inline-block;
  border-radius: 5px;
  padding: 2px 8px;
}
.lang-panel .lang.selected {
  background-color: #727a73c7;
  color: #4c524d;
  cursor: default;
}

@media screen and (max-width: 768px) {
  p {
    font-size: .8rem;
  }
}
