.section {
  margin: 0 auto;
}
.section .work {
  width: 25%;
  height: 50vh;
  float: left;
}
@media screen and (max-width: 768px) {
  .section .work {
    width: 100% !important;
    height: 44.5vh;
  }
}
.section .work_list {
  width: 80%;
  height: 80%;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  box-shadow: 1px 1px 5px #bd8cdc;
  transition: 1s;
}
.section .work_list .h2 {
  line-height: 3rem;
  border-bottom: 1px solid #ccc;
}
.section .work_list p {
  text-align: left;
  line-height: 1.5rem;
}
@media screen and (max-width: 768px) {
  .section .work1 {
    display: none;
  }
}
.section .workWidth {
  width: 50%;
}
.section .companyWidth {
  width: 33%;
}
.section .companyWidth .date {
  font-size: 1rem;
}

.work:hover .work_list {
  box-shadow: 8px 8px 32px #bd8cdc;
}
